        body {
            margin: 0;
            padding: 0;
        }
        
        main {
            width: 80%;
            margin: 0 auto;
            height: 100%;
            display: block;
        }
        
        .container {
            width: 70%;
            margin: 0 auto;
            min-width: 370px;
        }
        
        header {
            background: url(../images/pattern.png);
            display: block;
        }
        
        #naslovi {
            margin: 0 auto;
            padding-top: 200px;
            padding-bottom: 200px;
        }
        
        #zabefore:after {
            content: "";
            display: block;
            position: relative;
            bottom: -26px;
            left: 0px;
            height: 3px;
            width: 100%;
            background: rgba(0, 0, 0, 0.84);
        }
        
        #naslovi h1, #apartmani h1, #apartmani h2, #galerija h1, #lokacija h1, #kontakt h1 {
            font-family: Montserrat, Arial;
            color: #2F343A;
            font-size: 4.4em;
            text-align: center;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.84);
        }
        
        #apartmani h1, #kontakt h1 {
            font-size: 3.6em;
            color: #DDDDDD;
        }
        
        #apartmani h2 {
            font-size: 2.2em;
            color: #DDDDDD;
        }
        
        .nastavi {
            display: block;
            margin: 0 auto;
            margin-top: 100px;
            background-color: #80CEB9;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            -webkit-transition: background-color .7s ease, color .7s ease;
            -o-transition: background-color .7s ease, color .7s ease;
            transition: background-color .7s ease, color .7s ease;
            font-family: Montserrat, Arial;
            color: #F5F5F5;
            font-size: 1.2em;
            text-decoration: none;
            text-align: center;
            width: 150px;
            height: 50px;
        }
        
        span {
            position: relative;
            top: 11px;
        }
        
        .nastavi:hover {
            background-color: #41AAC4;
            color: #fff;
        }
        
        nav ul {
            list-style-type: none;
            margin: 13px 5px 0px 0px;
            padding: 0;
            background-color: transparent;
            float: right;
        }
        
        nav ul li {
            display: inline-block;
            font-family: Lato, Arial;
            font-size: 1.3em;
            float: left;
        }
        
        nav li a {
            display: inline-block;
            color: #F5F5F5;
            text-align: right;
            padding: 14px 24px;
            text-decoration: none;
            margin: -2px;
            border-left: 2px solid rgba(65, 170, 196, .55);
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.54);
            -webkit-transition: color .7s ease;
            -o-transition: color .7s ease;
            transition: color .7s ease;
        }
        
        nav li:first-child a {
            position: fixed;
            top: 2px;
            right: 2px;
            width: 100%;
            height: 40px;
            border: none;
            text-align: right!important;
            padding: 0px;
            background-color: rgba(90, 90, 90, .4);
        }
        
        nav li:before {
            content: "";
            display: block;
            position: relative;
            bottom: -49px;
            left: -2px;
            height: 3px;
            width: 0px;
            background: rgba(65, 170, 196, .55);
            -webkit-transition: width .25s 0.25s ease;
            -moz-transition: width .25s 0.25s ease;
            -ms-transition: width .25s 0.25s ease;
            -o-transition: width .25s 0.25s ease;
            transition: width .25s 0.25s ease;
        }
        
        nav ul li:hover:before {
            width: 100%;
        }
        
        nav li a:hover {
            color: #Fff;
        }
        
        nav {
            min-width: 332px;
            position: absolute;
            z-index: 100;
            right: 0;
        }
        
        #apartmani {
            display: inline-block;
            width: 100%;
        }
        
        #apt4 p:last-child {
            margin-bottom: 40px;
        }
        
        #apartmani p, #galerija p, #lokacija p, #kontakt p, footer p {
            font-family: 'Neuton', Helvetica;
            color: #F5F5F5;
            font-size: 1.3em;
            margin: 7px 0;
            text-align: center;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.84);
        }
        
        #galerija p, #lokacija p {
            color: #5A5A5A;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.44);
        }
        
        #apartmani p:last-child {
            font-size: 1.4em;
        }
        
        footer p {
            text-align: left;
            position: relative;
            top: 3px;
            color: #7D7D7D;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.44);
        }
        
        .siva {
            background-color: #717D8C;
        }
        
        .slike {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .onpage {
            width: 400px;
            margin-bottom: 15px;
            border: 4px solid #DDDDDD;
            box-shadow: 0px 3px 5px #000;
        }
        
        #apt1, #apt2, #apt3 {
            padding-bottom: 25px;
            border-bottom: 2px solid rgba(47, 52, 58, 0.3);
        }
        
        .lijevo {
            text-align: left!important;
        }
        
        #galerija {
            padding-bottom: 100px;
            display: inline-block;
            width: 100%;
        }
        
        .svijetloPlava {
            background: #DDECEF;
        }
        
        #lokacija iframe {
            width: 100%;
            height: 400px;
            margin: 0px auto;
            display: block;
        }
        
        #lokacija {
            padding-bottom: 100px;
            display: inline-block;
            width: 100%;
        }
        
        .siva2 {
            background: #F6F6F6;
        }
        
        .desno {
            float: right!important;
        }
        
        #kontakt {
            padding-bottom: 50px;
            display: inline-block;
            width: 100%;
        }
        
        #kontakt input:not(:nth-child(n+5)) {
            width: 45%;
            height: 25px;
        }
        
        #kontakt a {
            color: #F5F5F5;
        }
        
        #poruka {
            resize: none;
            width: 99.5%;
            height: 300px;
        }
        
        .sendreset {
            float: left;
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #80CEB9;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            -webkit-transition: background-color .7s ease, color .7s ease, opacity .7s ease-in;
            -o-transition: background-color .7s ease, color .7s ease, opacity .7s ease-in;
            transition: background-color .7s ease, color .7s ease, opacity .7s ease-in;
            font-family: Montserrat, Arial;
            color: #F5F5F5;
            font-size: 1.4em;
            text-decoration: none;
            padding: 22px 42px;
            display: block;
            letter-spacing: 1.2px;
            width: 40%;
        }
        
        .sendreset:hover {
            background-color: #41AAC4;
            color: #fff;
        }
        
        #navrh {
            position: fixed;
            bottom: 6%;
            right: 2%;
            display: block;
            background-color: #80CEB9;
            font-family: Montserrat, Arial;
            color: #F5F5F5;
            font-size: 1.em;
            text-decoration: none;
            padding: 31px 10px;
            display: block;
            letter-spacing: 1.2px;
            -webkit-transition: color .7s ease, background-color .7s ease;
            -o-transition: color .7s ease, background-color .7s ease;
            transition: color .7s ease, background-color .7s ease;
            border-radius: 70%;
            border: none;
            cursor: pointer;
            z-index: 101;
        }
        
        #navrh:hover {
            background-color: #41AAC4;
            color: #fff;
        }
        
        footer {
            position: relative;
        }
        
        #content {
            height: 45px;
            width: 100%;
            background-color: #2F343A;
            display: inline-block;
            position: absolute;
            bottom: 0;
        }
        
        @media screen and (max-width:1775px) and (min-width:1621px) {
            .onpage {
                width: 365px;
            }
        }
        
        @media screen and (max-width:1620px) and (min-width:1382px) {
            .container {
                width: 90%;
            }
        }
        
        @media screen and (max-width:1381px) and (min-width:1185px) {
            .onpage {
                width: 400px;
            }
            #naslovi h1, #apartmani h1, #apartmani h2, #galerija h1, #lokacija h1, #kontakt h1 {
                font-size: 3.5em;
            }
            #apartmani h1, #kontakt h1 {
                font-size: 2.7em;
                color: #DDDDDD;
            }
            #apartmani h2 {
                font-size: 1.3em;
                color: #DDDDDD;
            }
            #zabefore:after {
                bottom: -20px;
            }
        }
        
        @media screen and (max-width:1184px) {
            .onpage {
                width: 325px;
            }
            #naslovi h1, #apartmani h1, #apartmani h2, #galerija h1, #lokacija h1, #kontakt h1 {
                font-size: 2.5em;
            }
            #apartmani h1, #kontakt h1 {
                font-size: 1.7em;
                color: #DDDDDD;
            }
            #apartmani h2 {
                font-size: 1.2em;
                color: #DDDDDD;
            }
            #zabefore:after {
                bottom: -15px;
            }
            #apartmani p, #galerija p, #lokacija p, #kontakt p {
                font-size: 1.1em;
            }
            #kontakt input:not(:nth-child(n+5)) {
                width: 99.5%;
            }
            .sendreset {
                font-size: 1.1em;
                padding: 12px 0px;
            }
            #navrh {
                opacity: 0.6;
            }
            #navrh:hover {
                opacity: 1;
            }
        }
        
        @media screen and (max-width:980px) {
            .slike {
                -webkit-justify-content: center;
                justify-content: center;
            }
            .onpage {
                width: 400px;
            }
            nav ul li {
                font-size: 1.1em;
            }
            nav li a {
                padding: 14px 17px;
            }
        }
        
        @media screen and (max-width:688px) {
            #naslovi h1, #apartmani h1, #apartmani h2, #galerija h1, #lokacija h1, #kontakt h1 {
                font-size: 1.7em;
            }
            #zabefore:after {
                bottom: -10px;
            }
            nav ul li {
                font-size: 0.98em;
            }
            nav li a {
                padding: 14px 13px;
            }
        }
        
        @media screen and (max-width:600px) {
            #navrh {
                display: none;
            }
        }
